{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
	<link href="{{ asset('css/jquery-ui.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
	<script src="{{ asset('js/jquery-ui.min.js') }}"></script>
	<script src="{{ asset('js/blog.js') }}"></script>
{% endblock %}


{% block title %}Blog{% endblock %}
{% block content %}

    <h1>{{ blog.title }}</h1>
	{% if ((is_granted("EDIT", blog)) or (is_granted("ROLE_ADMIN"))) %}
		<a href="{{ path('blog_edit', {'id': blog.id}) }}">edit</a>	<a href="{{ path('blog_index') }}">back to list</a>
	{% endif %}
	<hr>
    <div>
		{{ blog.article | raw }}
	</div>
	<hr>

	author: {{ blog.user }} ({{ blog.createdAt | date('d-m-Y H:i') }})


    {% if ((is_granted("ROLE_ADMIN")) or (is_granted("EDIT", blog))) %}
    	{{ include('blog/_delete_form.html.twig') }}
    {% endif %}
	<hr>

	<!-----            Comments ------------>

	<h4>comments</h4>
    {% if app.user %}
		<br><button id = "addComment" name = "addComment">Add Comment</button>
		<!--<a href = "{{ path('blog_comment_new', {'blog_id': blog.id}) }}">add comment</a>-->
	{% endif %}
	<hr>
    {% for comment in comments %}
		<div id = "comment{{ comment.id }}" name = "comment{{ comment.id }}">{{ comment.Comment }}</div>
		author: {{ comment.User.username }} ({{ comment.createdAt | date('d-m-Y H:i') }})<br>
        {% if ((is_granted("EDIT", comment)) or (is_granted("ROLE_ADMIN"))) %}
			<!--<a href = "{{ path('blog_comment_edit', {id: comment.id}) }}">Edit</a>-->
			<!--<a href = "{{ path('blog_comment_delete', {id: comment.id}) }}">Delete</a>-->
			<button id = "editComment" name = "editComment" onClick = "EditComment({{ comment.id }}); return false;">Edit Comment</button>
			<button id = "deleteComment" name = "deleteComment" onClick = "DeleteComment({{ comment.id }}); return false;">Delete Comment</button>
			<input type = "hidden" id = "commentDeleteURL{{ comment.id }}" value = "{{ path('jquery_blog_comment_delete', {'id': comment.id}) }}"/>
			<input type = "hidden" id = "commentEditURL{{ comment.id }}" value = "{{ path('jquery_blog_comment_edit', {'id': comment.id}) }}"/>

		{% endif %}
		<hr width="30%">
	{% endfor %}

	<div id = "commentDialog" style = "display:none">
		comment: <textarea id = "taComment"></textarea>
	</div>
	<input type = "hidden" id = "commentSaveURL" value = "{{ path('jquery_blog_comment_new', {'blog_id': blog.id}) }}"/>


{% endblock %}
